html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 430px;
  background-color: #F0F0F0;
  font-family: 'Droid Sans', sans-serif;
  color: #4F4F4F;
}

main {
  border-top: 5px solid #E3D93B;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

p {
  font-size: 1.3em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 430px;
  color: #FFF;
  background-color: #232323;
  border-top: 15px solid #C3BB38;
  text-align: center;
}

.topContainer {
  background-color: #FFF;
  width: 100%;
}


/**************************
     BOOTSTRAP OVERRIDES
***************************/
.container {
  max-width: 800px;
}

.page-header {
  border-bottom: 15px solid #C3BB38;
  padding-bottom: 0px;
  margin: 0px;
}

a {
  color: #FFF;
  text-decoration: none;
}

.active > a {
  background-color: #C0C0C0;
}

.nav-tabs.nav-justified > li > a {
  border-bottom: 0px;
  border-radius: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #232323;
  cursor: default;
  background-color: #C0C0C0;
  border: 0px;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border-bottom: 0px;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
     border: 0px;
}

li > a:hover {
  color: #FFF;
}

button > a:hover {
  color: #FFF
}

.navbar {
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 15px;
  border-radius: 0px;
  margin-bottom: 10px;
  min-height: 0px;
  border-bottom: 6px solid #C0C0C0;
}

.headerLogo {
  width: 50%;
}

.ninjaDividerDiv {
  max-width: 500px;
}

.ninjaDivider {
  width: 100%;
  margin-top: 30px;
}


.navbar-inverse {
  background-color: #232323;
}

ul > li.active {
  color: #232323;
  background-color: #C0C0C0;
  padding: 0px;

}

.img-responsive {
  width: 80%;
  margin-bottom: 30px;
  border: 8px solid #C3BB38;
  background-color: #E3D93B;
  padding: 4px;
  border-radius: 10px;
  display: inline;
}

.btn-primary {
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: #C3BB38;
  border-color: #C3BB38;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #5C5C5C;
  border-color: #5C5C5C;
}

.form-group {
  margin-top: 10px;
}
